<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <div class="container row">
        <div class="col s6">
          <div class="row">
            <label>Select data type</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Name</option>
              <option value="2">Email</option>
              <option value="3">Phone</option>
              <option value="4">Image</option>
              <option value="5">Facebook</option>
              <option value="6">Linkedin</option>
              <option value="7">Github</option>
              <option value="8">Address</option>

            </select>
          </div>
          <div class="row">
            <label>Browser Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="row">
            <label>Browser Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="row">
            <label>Browser Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="row">
            <label>Browser Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="row">
            <label>Browser Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <input id="1" type="text" class="validate">
                <label for="1">Value</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="2" type="text" class="validate">
                <label for="2">Value</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="3" type="text" class="validate">
                <label for="3">Value</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="4" type="text" class="validate">
                <label for="4">Value</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="5" type="text" class="validate">
                <label for="5">Value</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="6" type="text" class="validate">
                <label for="6">Value</label>
              </div>
            </div>
        </div>
      </div>
    </body>
  </html>
