<div class="home page">
  <div class="container loginAndSignup">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" ng-model="user.email" type="email" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="firstname" ng-model="user.password" type="password" class="validate">
        <label for="firstname">Password</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn loginBtn" ng-click="login()">Login</button>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn loginBtn" href="#/signup">Sign Up</a>
    </div>
  </div>
</div>
