<div ng-show="product.tags.length">
  <div class="img-wrap">
    <img ng-src="{{product.images[gallery.current]}}" width="20%" height="20%"/>
  </div>
  <ul class="img-thumbnails clearfix">
    <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.setCurrent(product.images.$indexOf(image))">
      <div style="width: 150px; height: 150px;" >
      	<img ng-src="{{image}}" class="img-thumbnail" style='max-height: 100%; max-width: 100%; object-fit: contain'/>
      </div>
    </li>
  </ul>

  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://2.bp.blogspot.com/--98HC2-vWsw/VtMJvZ16vuI/AAAAAAAAn8w/O8mL_XuQ1tM/s1600/mont%2Bblanc%2Blady%2Bemblem%2Bads.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Business Card<i class="material-icons right"></i></span>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Business Card<i class="material-icons right">close</i></span>
        <p>More info</p>
      </div>
    </div>
  </div>
</div>
